venv/
backend/__pycache__/
backend-2/tests/
backend-2/Data/
backend-2/video_gen/checkpoints/
backend-2/video_gen/gfpgan/weights/
backend-2/video_gen/src/__pycache__/
backend-2/video_gen/src/audio2exp_models/__pycache__/
backend-2/video_gen/src/audio2pose_models/__pycache__/
backend-2/video_gen/src/face3d/__pycache__/
backend-2/video_gen/src/facerender/__pycache__/
backend-2/video_gen/src/utils/__pycache__/